# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
indent_style = tab
indent_size = 4

[*.md]
indent_size = 4
indent_style = space
#end_of_line = lf
#insert_final_newline = true

[*.yaml]
indent_size = 2
indent_style = space

[*.sass]
indent_size = 4
indent_style = space

[*.vue]
indent_style = space